<style>
    #center {
        width: 100%;
        height: 427px;
        border: 1px solid #ffffff;
        /*background-image: url("http://localhost:2191/Areas/POP/POPImages/PopTemplates/常规减现模板.png");*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .div_1 {
        width: 100%;
        height: 70px;
        margin-top: 108px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_2 {
        width: 100%;
        height: 26px;
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_3 {
        width: 100%;
        height: 26px;
        /*border:1px solid blue;*/
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_4 {
        width: 100%;
        height: 26px;
        /*border: 1px solid blue;*/
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_5 {
        width: 100%;
        height: 26px;
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_6 {
        width: 100%;
        height: 26px;
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .div_7 {
        width: 100%;
        height: 26px;
        margin-top: 3px;
        filter: alpha(Opacity=99);
        -moz-opacity: 0.95;
        opacity: 0.95;
        z-index: 100;
    }

    .txt {
        width: 100%;
        height: 100%;
        border-style: none;
        /*border: 1px solid blue;*/
    }

    #txt_spnm {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
    }

    #txt_man1 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
    }

    #txt_man2 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
    }

    #txt_man3 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
    }

    #txt_message1 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        color: red;
    }

    #txt_message2 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        color: red;
    }

    #txt_message3 {
        text-align: center;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        color: red;
    }

    #left {
        width: 310px;
        height: 100%;
        /*border: 1px solid black;*/
        float: left;
    }
</style>

<script>
    $(function () {
        init();
    });

    function doGenPOP() {
        //赋值
        var spnm = $("#txt_spnm").val();
        var man1 = $("#txt_man1").val();
        var message1 = $("#txt_message1").val();
        var man2 = $("#txt_man2").val();
        var message2 = $("#txt_message2").val();
        var man3 = $("#txt_man3").val();
        var message3 = $("#txt_message3").val();
        //var emptyTemplate = $("#imgEmptyTemplate").attr("src");

        var templateheadguid = $('#selectImage').val();
        var emptytemplateguid = $('#select1').val();

        $.ajax({
            type: 'post', cache: false, dataType: 'json',
            url: '/POP/POPManage/GenPOP',

            data: [
               { name: 'templateHeadGuid', value: templateheadguid },
                { name: 'emptyTemplateGuid', value: emptytemplateguid },
                { name: 'spnm', value: spnm },
                { name: 'man1', value: man1 },
                { name: 'message1', value: message1 },
                { name: 'man2', value: man2 },
                { name: 'message2', value: message2 },
                { name: 'man3', value: man3 },
                { name: 'message3', value: message3 },
            ],

            success: function (result) {
                if (result = 't') {
                    alert('POP图片生成成功！');

                    //刷新生成图片背景 文件地址一样有缓存机制待解决，二次访问内容一样
                    var out_pop = "/Areas/POP/POPImages/OutPOPImages/POP_" + spnm + ".jpg";
                    $('#Gened_POP').css("backgroundImage", "url(" + out_pop + ")");
                }
                else {
                    alert('后台调用方法成功，但返回值错误');
                }
            },

            statusCode: {
                404: function () { alert('cannot  find resource'); },
                505: function () { alert('internal server error'); }
            },

            error: function () {
                alert('返回信息错误，请联系系统管理员！');
            }
        });
    }
</script>


<div id="center">
    <div class="div_1">
        <input id="txt_spnm" type="text" value="1_品牌" class="txt" />
    </div>
    <div class="div_2">
        <input id="txt_man1" type="text" value="2_满额" class="txt" />
    </div>
    <div class="div_3">
        <input id="txt_message1" type="text" value="3_送礼" class="txt" />
    </div>
    <div class="div_4">
        <input id="txt_man2" type="text" value="4_满额" class="txt" />
    </div>
    <div class="div_5">
        <input id="txt_message2" type="text" value="5_送礼" class="txt" />
    </div>
    <div class="div_6">
        <input id="txt_man3" type="text" value="6_满额" class="txt" />
    </div>
    <div class="div_7">
        <input id="txt_message3" type="text" value="7_送礼" class="txt" />
    </div>
</div>



