<ul ng-controller="MenuController" class="">
    <li class="active">
        <a href="#/dashboard.html">Dashboard</a>
    </li>
    <li class=" " ng-repeat="menu in menus">
        <i class="{{menu.Icon}}"></i>{{menu.Text}}
        <ul class="" ng-repeat="m in menu.children">
            <li>
                <i class="{{m.Icon}}"></i>{{m.Text}}
                <ul>
                    <li ng-repeat="mm in m.children">
                        <a href="#{{mm.Url}}" ng-click="changeTitle(m.Text,mm.Text)">
                            <i class="{{mm.Icon}}"></i> {{mm.Text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>