
<md-content layout="row">
    <md-content flex="33">
        <ul>
            <li ng-repeat="scheme in categoryTypeSchemes">
                {{scheme.Name}}
                <ul>
                    <li ng-repeat="type in categoryTypes | filter:scheme.Id">
                        <a ng-click="cur.type=type">{{type.Name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </md-content>
    <md-content>
        <ul>
            <li ng-repeat="t in categorys | filter:(cur.type.Id||11111111)">{{t.Name}}<md-button ng-click="delCategory(t)" aria-label="delete"><i class="fa fa-close"></i></md-button></li>
        </ul>

        <form ng-submit="editCategory(current,cur.type)" layout="column" class="md-padding" name="form">
            <div layout="row" layout-sm="column">
                <md-input-container>
                    <label for="Name">Name</label>
                    <input type="text" id="Name" ng-model="current.Name" required />
                </md-input-container>
                <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">Add {{cur.type.Name}}</md-button>
            </div>
        </form>
    </md-content>
</md-content>