
<md-content layout="column">
    <accordion close-others="true">
        <accordion-group ng-repeat="scheme in categoryTypeSchemes" heading="{{scheme.Name}}">
            <ul>
                <li ng-repeat="t in categoryTypes | filter:scheme.Id">
                    {{t.Name}}
                    <md-button ng-click="delCategoryType(t)" aria-label="delete"><i class="fa fa-close"></i></md-button>
                </li>

                <form ng-submit="editCategoryType(currentType,scheme)" layout="column" class="md-padding" name="form">
                    <div layout="row" layout-sm="column">
                        <md-input-container>
                            <label for="Name">Name</label>
                            <input type="text" id="Name" ng-model="currentType.Name" required>
                        </md-input-container>
                        <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">Add Type</md-button>
                    </div>
                </form>
            </ul>
        </accordion-group>
    </accordion>

    <form ng-submit="editCategoryTypeScheme(currentScheme)" layout="column" class="md-padding" name="form">
        <div layout="row" layout-sm="column">
            <md-input-container>
                <label for="Name">Name</label>
                <input type="text" id="Name" ng-model="currentScheme.Name" required>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">Add Scheme</md-button>
        </div>
    </form>
</md-content>