@{
    ViewBag.Title = "GridView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainsearch" style="width: 98%">
    <div class="searchtitle">
        <span>搜索</span><img src="/content/icons/32X32/searchtool.gif" />
        <div class="togglebtn">
        </div>
    </div>
    <div class="navline" style="margin-bottom: 4px; margin-top: 4px;">
    </div>
    <div class="searchbox">
        <form id="formsearch" class="l-form">
        </form>
    </div>
</div>
<div id="maingrid">
</div>
<script type="text/javascript">
    var moduleNo = '@ViewData["moduleNo"]';
    var _moduleinfo = {}, _config = {};
    $.when($.get("/config/moduleinfo/" + moduleNo), $.getJSON("/config/Columns/" + moduleNo)).done(function (moduleinfo, columns) {
        for (var i = 0, l = moduleinfo[0].length; i < l; i++) {
            var o = moduleinfo[0][i];
            _moduleinfo[o.Action] = o;
        }
        $.get(_moduleinfo["query"].Url, function (data) {
            _config = LG.bulidData(columns[0]);
            initGridPage();
        });
    });



    function initGridPage() {
        var option = {
            columns: _config.grid,
            toolbar: [],
            url: _moduleinfo["query"].Url,
            width: '98%', height: '100%', heightDiff: -10,
            totalRender: _config.totalRender
        };

        //树形结构
        if (_config.treeColumn) {
            $.extend(option, {
                tree: {
                    columnName: _config.treeColumn.SourceTableTextField,
                    id: _config.treeColumn.SourceTableIDField,
                    pid: _config.treeColumn.SourceTableParentIDField
                }, usePager: false
            });
        }

        //列表结构
        grid = $("#maingrid").ligerGrid(option);

        //双击事件
        LG.setGridDoubleClick(grid, 'modify');

        //搜索表单应用ligerui样式

        $("#formsearch").ligerForm({
            fields: _config.search
        });

        //增加搜索按钮,并创建事件
        LG.appendSearchButtons("#formsearch", grid);

        //加载toolbar
        LG.loadToolbar(grid, toolbarBtnItemClick);

    }

    //工具条事件
    function toolbarBtnItemClick(item) {
        switch (item.id) {
            case "add":
                LG.showDialogForm({
                    action: _moduleinfo["add"].Url, fields: _config.form, title: "@ViewData["t"]",
                    success: function (data) { if (data && data.Message) { alert(data.Message); } $(".button")[0].click(); }
                });
                break;
            case "edit":
                var selected = grid.getSelected();
                if (!selected) { LG.tip('请选择行!'); return }
                LG.showDialogForm({
                    action: _moduleinfo["edit"].Url, fields: _config.form, data: selected, title: "@ViewData["t"]",
                    success: function (data) { if (data && data.Message) { alert(data.Message); } $(".button")[0].click(); }
                });
                break;
            case "del":
                var selected = grid.getSelected();
                if (!selected) { LG.tip('请选择行!'); return }
                jQuery.ligerDialog.confirm('确定删除吗?', function (confirm) {
                    if (confirm) {
                        LG.ajax({
                            url: _moduleinfo["del"].Url,
                            data: selected,
                            success: function (data) {
                                if (!data.IsError) {
                                    LG.tip("删除成功!"); $(".button")[0].click();
                                }
                                else { LG.showError(data.Message); }
                            }
                        });
                    };
                });
                break;
            case "print":
                var selected = grid.getSelected();
                if (!selected) { LG.tip('请选择行!'); return }
                window.open(_moduleinfo["print"].Url+"?"+$.param(selected));
                break;
        }
    }
</script>
