@{
    ViewBag.Title = "Sys_Privilege";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="layout" style="margin: 2px; margin-right: 3px;">
    <div position="center" id="mainmenu" title="角色">
        <div title="角色" tabid="rolelist">
            <div id="rolegrid" style="margin: 2px auto;">
            </div>
        </div>
    </div>
    <div position="bottom" title="权限控制">
        <div id="usergrid" style="margin: 2px auto; float: left">
        </div>
        <div id="rightgrid" style="margin: 2px auto; float: left">
        </div>
    </div>
</div>
<script type="text/javascript">

    //覆盖本页面grid的loading效果
    LG.overrideGridLoading();

    var layout = $("#layout").ligerLayout({
        //5分之3的高度
        bottomHeight: 3 * $(window).height() / 5,
        heightDiff: -6,
        allowLeftCollapse: false,
        onEndResize: updateGridHeight,
        onHeightChanged: updateGridHeight
    });
    var bottomHeader = $(".l-layout-bottom > .l-layout-header:first");

    var selectedUserID, selectedRoleID;

    var gridRole, gridUser;

    gridRole = $("#rolegrid").ligerGrid({
        columns:
                [{ display: '角色名', name: 'RoleName', width: 150},
                { display: '角色描述', name: 'Note', width: 250 }
                ],  width: '99%', height: 200,  usePager: false,
        url: '/manage/getrole'
    });

    gridRole.bind('SelectRow', function (rowdata) {
        selectedRoleID = rowdata.RoleId;

        bottomHeader.html("设置角色【" + rowdata.RoleName + "】的权限");

        LG.ajax({
            loading: '正在加载角色权限中...',
            url:"/manage/GetRoleRights",
            data: { RoleID: selectedRoleID },
            success: function (data) {
                var rows = gridRight.rows;
                for (var i = 0, l = rows.length; i < l; i++) {
                    rows[i].Permit = checkPermit(rows[i], data);
                }
                gridRight.reRender();
            }
        });


        LG.ajax({
            loading: '正在加载角色用户中...',
            url: "/manage/GetRoleUsers",
            data: { RoleID: selectedRoleID },
            success: function (data) {
                var rows = gridUser.rows;
                for (var i = 0, l = rows.length; i < l; i++) {
                    rows[i].Permit = checkPermit(rows[i], data);
                }
                gridUser.reRender();
            }
        });

        //判断是否有权限
        function checkPermit(rowdata, data) {
            if (!data || !data.length) return false;
            for (var i = 0, l = data.length; i < l; i++) {
                if (data[i].UserID && data[i].UserID == rowdata.UserID)
                    return true;
                if (data[i].ModuleNo && data[i].ModuleNo == rowdata.ModuleNo && data[i].ActionName == rowdata.Action)
                    return true;
            }
            return false;
        }
    });


    //权限 保存按钮
    var rightsToolbarOptions = {
        items: [
            { text: '保存权限', click: f_save_rights, img: "/content/icons/silkicons/page_save.png" }
        ]
    };

    //权限
    var gridRight = $("#rightgrid").ligerGrid({
        columns:
                [{ display: '名称', name: 'Text',width:200,  minWidth: 60,align:'left' },
                { display: '编码', name: 'Action', minWidth: 60 },
                { display: '模块名', name: 'ModuleNo', minWidth: 80 }
                ], width: '69%', height: 200, usePager: false, checkbox: true, toolbar: rightsToolbarOptions,
                tree: { columnName: 'Text',id:"MenuId",pid:"ParentId" }, url: "/config/ModuleTree", isChecked: f_isChecked
    });

    function f_isChecked(rowdata) {
        if (rowdata.Permit)
            return true;
        return false;
    }

    //用户

    //用户 保存按钮
    var userToolbarOptions = {
        items: [
            { text: '保存用户', click: f_save_user, img: "/content/icons/silkicons/page_save.png" }
        ]
    };

    gridUser = $("#usergrid").ligerGrid({
        columns:
                [
                { display: '账号', name: 'UserID',  width: 100, minWidth: 60 },
                { display: '名称', name: 'UserName',  width: 100, minWidth: 60 }
                ],  width: '29%', height: '100%',  usePager: false, checkbox: true, toolbar: userToolbarOptions,
        url: '/manage/getuser', isChecked: f_isChecked
    });


    function f_save_user() {
        if (!selectedRoleID) { LG.tip("请选择角色!"); return; }

        LG.ajax({
            loading: '正在保存权限设置中...',
            url: "/manage/SaveRoleUser",
            data: {
                data: JSON2.stringify(gridUser.getCheckedRows()),
                RoleID: selectedRoleID
            },
            success: function () {
                LG.showSuccess("保存成功!");
            },
            error: function (message) {
                LG.showError(message);
            }
        });
    }


    function f_save_rights() {
        if (!selectedRoleID) { LG.tip("请选择角色!"); return; }

        LG.ajax({
            loading: '正在保存权限设置中...', 
            url: "/manage/SaveRoleRights",
            data: {
                data: JSON2.stringify(gridRight.getCheckedRows()),
                RoleID: selectedRoleID
            },
            success: function () {
                LG.showSuccess("保存成功!");
            },
            error: function (message) {
                LG.showError(message);
            }
        });
    }

    function updateGridHeight() {
        var topHeight = $("#layout > .l-layout-center").height();
        var bottomHeight = $("#layout > .l-layout-bottom").height();
        if (gridUser)
            gridUser.set('height', bottomHeight - 35);
        if (gridRole)
            gridRole.set('height', topHeight - 65);
        if (gridRight)
            gridRight.set('height', bottomHeight - 35);
    }
    updateGridHeight();
</script>
