@{
    ViewBag.Title = "PosSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/pos.css" rel="stylesheet" type="text/css" />

<div>
    <form id="mainform" method="post" action="" style="height: 50px">
        <input type="hidden" name="DetailGrid" id="HDetailData" value="" />
    </form>
    <div id="detailGrid">
    </div>
    <div id="payDetail">
        <div class="leftPay">
            <div>
                共:￥
                <label id="sum"></label>
            </div>
            <div>
                商品数量:
                <label class="quantity"></label>
                重量:
                <label class="weight"></label>
            </div>
        </div>
        <div class="rightPay">
            应收:<input readonly="readonly" id="pay" class="sum l-text-disabled" />
            <br />
            收款:<input id="receive" class="" /><br />
            找零:<input id="change" readonly="readonly" class="l-text-disabled" />
            <br />
            <input type="button" class="button " id="save" value="结算" onclick="save()" />
        </div>
    </div>
</div>
<script type="text/javascript">
    //全局对象
    var detailGrid = null;
    var sum = 0, quantity = 0, weight = 0;


    var mainform = $("#mainform").ligerForm({
        fields: [
            { display: "出货单号", name: "DeliveryID", labelWidth: "80px", type: "label" },
            { display: "出货日期", name: "DeliveryDate", labelWidth: "80px", newline: false, type: "label" },
            {
                display: "客户", name: "CustomerID", labelWidth: "80px", newline: false, type: "select",
                options: {
                    onBeforeOpen: function () {
                        LG.showSelect("/config/Columns/Customer",
                            "/manage/GetCustomer", this.valueField[0].form); return false;
                    }, valueFieldID: "CustomerID", textField: "CustomerAttribName"
                }, comboboxName: "CustomerID_select"
            },
            { display: "送货地址", name: "DeliveryAddress", newline: true, labelWidth: "80px", type: "text" },
            { display: "车牌号", name: "CarNo", labelWidth: "80px", newline: false, type: "text" },
            { display: "电话", name: "Tel", labelWidth: "80px", newline: false, type: "text" }
        ]
    });



    var option = {
        columns: [
                    { display: '产品编号', name: 'ProductID', width: 60, align: 'right' },
                    { display: '产品名称', name: 'ProductName', width: 120, align: 'right' },
                    { display: '产品批次', name: 'BatchNo', width: 80, align: 'right' },
                    {
                        display: '售价', name: 'UnitPrice', width: 80, align: 'right', editor: { type: 'float', isNegative: false }, type: 'currency'
                    },
                    {
                        display: '数量', name: 'Quantity', width: 70, align: 'right', editor: { type: 'int', isNegative: false }, type: 'float'
                    },
                    {
                        display: '未发', name: 'UnSent', width: 70, align: 'right', editor: { type: 'int', isNegative: false }, type: 'float'
                    },
                    {
                        display: '重量', name: 'Weight', width: 80, align: 'right', editor: { type: 'float', isNegative: false }, type: 'float'
                    },
                    {
                        display: '总计', width: 100, name: 'Amount', align: 'right', type: 'currency', render: amountRender
                    }
        ],
        toolbar: getToolbar(),
        enabledEdit: true,
        width: '98%', heightDiff: -10,
        usePager: false
    };

    detailGrid = $("#detailGrid").ligerGrid(option);


    LG.ajax({
        url: "/order/GetNewDeliveryId", success: function (data) {
            LG.loadForm($("#mainform"), data);
        }
    });


    $("#receive").bind("change", function () {
        $("#change").val($(this).val() - sum);
    });


    $("#receive").bind("keydown", function (e) {
        var d = $("#receive").val();
        if (!$.isNumeric(d)) {
            $("#receive").val("");
        }
        var currKey = 0, e = e || event;
        if (e.keyCode == 13) {
            $("#change").val($(this).val() - sum);
            save();
        }
    });

    function save() {
        var detailData = detailGrid.getData();
        if (detailData.length <= 0) {
            //保存订单明细 表格的JSON  后台(AjaxOrderManage.AddOrders或UpdateOrders)可接收
            LG.tip("请选择产品!");
            return;
        }

        $("#HDetailData").val(JSON2.stringify(detailGrid.getData()));

        var receive = $("#receive").val();
        if (receive < sum) {
            LG.tip("收款小于应收!");
            return;
        }
        var data = $("#mainform").serializeArray();
        data.push({ name: "pay", value: $("#pay").val() })
        LG.ajax({
            url: "/pos/savepossale",
            data: data,
            success: function (data) {
                if (!data.IsError) { LG.tip("保存成功!"); window.location.reload(); }
                else { LG.showError(data.Message); }
            }
        });
    }

    function amountRender(rowdata, rowindex, value, column) {
        var UnitPrice = rowdata.UnitPrice || 0;
        var Quantity = rowdata.Quantity || 0;
        var Weight = rowdata.Weight || 0;
        if (Weight == 0) {
            value = (UnitPrice * Quantity).toFixed(2);
        }
        else {
            value = (UnitPrice * Weight).toFixed(2);
        }
        rowdata.Amount = value;


        calcSum();

        return "￥" + value;
    }

    function calcSum() {
        //处理汇总
        var data = detailGrid.getData();
        sum = 0;
        quantity = 0;
        weight = 0;
        for (var i = 0; i < data.length; i++) {
            sum += parseFloat(data[i]["Amount"]);
            quantity += parseFloat(data[i]["Quantity"]);
            weight += parseFloat(data[i]["Weight"]);
        }
        $("#sum").html(sum);
        $(".sum").val(sum);

        $(".quantity").html(quantity);
        $(".weight").html(weight);

        $("#receive").val(sum);

        $("#change").val($("#receive").val() - sum);
    }


    function getToolbar() {
        var o = {
            text: '引入',
            img: '/content/icons/32X32/import.png'
        };
        o.click = function () {
            if ($("#DeliveryProperty").val() != 2) {
                LG.showSelect("/config/Columns/ProductStock", '/order/GetProductStock?type=1', selectProduct, true);
            }
            else {
                LG.showSelect("/config/Columns/ProductStock", '/order/GetProductStock?property=C&type=0', selectProduct, true);
            }
        };

        var itemDel = {
            text: '删除',
            img: '/content/icons/silkicons/delete.png'
        };
        itemDel.click = function () {
            if (detailGrid.getSelected()) {
                detailGrid.remove(detailGrid.getSelected());
                calcSum();
            }
            else {
                LG.tip("请选择!");
            }

        };

        return { items: [o, itemDel] };

    }

    function selectProduct(checked) {
        $(checked).each(function () {
            if (productExist(this.ProductID, this.BatchNo)) return;

            // ligerGrid _addData bug fixed
            if (!detailGrid.currentData.Rows)
                detailGrid.currentData.Rows = [];

            detailGrid.addRow({
                ProductName: this.ProductName,
                ProductID: this.ProductID,
                BatchNo: this.BatchNo,
                UnitPrice: this.UnitPrice,
                Quantity: 1,
                Weight: 0,
                UnSent: 0,
                Amount: 0
            });
        });

        $("#receive").focus();
    }

    function productExist(ProductID, BatchNo) {
        var rows = detailGrid.rows;
        for (var i = 0, l = rows.length; i < l; i++) {
            var o = rows[i];
            if (o.ProductID == ProductID && o.BatchNo == BatchNo) return true;
        }
        return false;
    }

</script>
