@{
    ViewBag.Title = "EditPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="mainform" method="post" style="height: 80px">
    <input type="hidden" name="DetailGrid" id="HDetailData" value="" />
</form>
<div id="detailGrid">
</div>
<script type="text/javascript">
    //全局对象
    var detailGrid = null;
    var PurchaseID = "@ViewData["id"]";

    $.when($.get("/config/Columns/PurchaseMaster")).done(function (c1) {

        var config = LG.bulidData(c1);
        var form = $("#mainform").ligerForm({ fields: config.form });

        var option = {
            columns: [
                        { display: '产品编号', name: 'ProductID', width: 60, align: 'right' },
                        { display: '产品名称', name: 'ProductName', width: 120, align: 'right' },
                        { display: '产品批次', name: 'BatchNo', width: 100, align: 'right' },
                        {
                            display: '进价', name: 'UnitPrice', width: 80, align: 'right', editor: { type: 'float', isNegative: false }, type: 'currency'
                        },
                        {
                            display: '数量', name: 'Quantity', width: 70, align: 'right', editor: { type: 'int', isNegative: false }, type: 'float',
                            totalSummary: {
                                type: "sum"
                            }
                        },
                        {
                            display: '重量', name: 'Weight', width: 70, align: 'right', editor: { type: 'float', isNegative: false }, type: 'float',
                            totalSummary: {
                                type: "sum"
                            }
                        },
                        {
                            display: '总计', width: 100, name: 'Amount', align: 'right', type: 'currency', render: amountRender,
                            totalSummary: {
                                type: "sum"
                            }
                        }
            ],
            toolbar: getToolbar(),
            enabledEdit: true,
            width: '98%', heightDiff: -10,
            usePager: false
        };

        detailGrid = $("#detailGrid").ligerGrid(option);

        if (PurchaseID) {
            LG.ajax({
                url: "/order/GetPurchaseById", data: { PurchaseID: PurchaseID }, success: function (data) {
                    LG.loadForm($("#mainform"), data[0]);
                }
            });
            LG.ajax({
                url: "/order/GetPurchaseDetail", data: { PurchaseID: PurchaseID }, success: function (data) {
                    detailGrid.loadData({ Rows: data });
                }
            });
        }
        else {
            LG.ajax({
                url: "/order/GetNewPurchaseId", success: function (data) {
                    LG.loadForm($("#mainform"), data);
                }
            });
        }

        //var tab = $("#tabcontainer").ligerTab();
    });

    function save(dialog) {
        if (detailGrid) {
            //保存订单明细 表格的JSON  后台(AjaxOrderManage.AddOrders或UpdateOrders)可接收
            $("#HDetailData").val(JSON2.stringify(detailGrid.getData()));
        }
        if (PurchaseID) {
            $("#mainform").attr("action", "/order/editPurchase");
        }
        else {
            $("#mainform").attr("action", "/order/addPurchase");
        }
        LG.submitForm($("#mainform"), function (data) {
            if (!data.IsError) { LG.tip("保存成功!"); dialog.hidden(); }
            else { LG.showError(data.Message); }
        });
    }

    function amountRender(rowdata, rowindex, value, column) {
        var UnitPrice = rowdata.UnitPrice || 0;
        var Quantity = rowdata.Quantity || 0;
        var Weight = rowdata.Weight || 0;
        if (Weight == 0) {
            value = (UnitPrice * Quantity).toFixed(2);
        }
        else {
            value = (UnitPrice * Weight).toFixed(2);
        }
        
        rowdata.Amount = value;

        //处理无法更新汇总的错误
        var g = this, p = this.options;
        for (var i = 0; i < g.totalNumber; i++) {
            var tobj = document.getElementById(g.id + "|total" + i + "|" + column['__id']);
            $("div:first", tobj).html(g._getTotalCellContent(column, g.groups && g.groups[i] ? g.groups[i] : g.currentData[p.root]));
        }

        return "￥" + value;
    }


    function getToolbar() {
        var o = {
            text: '引入',
            img: '/content/icons/32X32/import.png'
        };
        o.click = function () {

            if ($("#PurchaseProperty").val() != 2) {
                LG.showSelect("/config/Columns/product", '/manage/getproduct', selectProduct, true);
            }
            else {
                LG.showSelect("/config/Columns/ProductStock", '/order/GetProductStock?property=J&type=1', selectProduct, true);
            }

        };

        var itemDel = {
            text: '删除',
            img: '/content/icons/silkicons/delete.png'
        };
        itemDel.click = function () {
            if (detailGrid.getSelected()) {
                detailGrid.remove(detailGrid.getSelected());
            }
            else {
                LG.tip("请选择!");
            }

        };

        return { items: [o, itemDel] };

    }

    function selectProduct(checked) {
        $(checked).each(function () {
            if (productExist(this.ProductID)) return;

            // ligerGrid _addData bug fixed
            if (!detailGrid.currentData.Rows)
                detailGrid.currentData.Rows = [];

            detailGrid.addRow({
                ProductName: this.ProductName,
                ProductID: this.ProductID,
                UnitPrice: this.UnitPrice,
                BatchNo: this.BatchNo,
                Quantity: 1,
                Weight:0,
                Amount: 0
            });
        });
    }

    function productExist(ProductID) {
        var rows = detailGrid.rows;
        for (var i = 0, l = rows.length; i < l; i++) {
            var o = rows[i];
            if (o.ProductID == ProductID) return true;
        }
        return false;
    }

</script>
