@{
    ViewBag.Title = "EditDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="mainform" method="post" style="height: 110px">
    <input type="hidden" name="DetailGrid" id="HDetailData" value="" />
</form>
<div id="detailGrid">
</div>
<script type="text/javascript">
    //全局对象
    var detailGrid = null;
    var totSum = 0;
    var DeliveryID = "@ViewData["id"]";

    $.when($.get("/config/Columns/DeliveryMaster")).done(function (c1) {

        var config = LG.bulidData(c1);
        var form = $("#mainform").ligerForm({ fields: config.form });


        var option = {
            columns: [
                        { display: '产品编号', name: 'ProductID', width: 60, align: 'right' },
                        { display: '产品名称', name: 'ProductName', width: 120, align: 'right' },
                        { display: '产品批次', name: 'BatchNo', width: 100, align: 'right' },
                        {
                            display: '售价', name: 'UnitPrice', width: 80, align: 'right', editor: { type: 'float', isNegative: false }, type: 'currency'
                        },
                        {
                            display: '数量', name: 'Quantity', width: 70, align: 'right', editor: { type: 'int', isNegative: false }, type: 'float',
                            totalSummary: {
                                type: "sum"
                            }
                        },
                        {
                            display: '未发', name: 'UnSent', width: 70, align: 'right', editor: { type: 'int', isNegative: false }, type: 'float',
                            totalSummary: {
                                type: "sum"
                            }
                        },
                        {
                            display: '重量', name: 'Weight', width: 80, align: 'right', editor: { type: 'float', isNegative: false }, type: 'float',
                            totalSummary: {
                                type: "sum"
                            }
                        },
                        {
                            display: '总计', width: 100, name: 'Amount', align: 'right', type: 'currency', render: amountRender,
                            totalSummary: {
                                type: "sum"
                            }
                        }
            ],
            toolbar: getToolbar(),
            enabledEdit: true,
            width: '98%', heightDiff: -10,
            usePager: false
        };

        detailGrid = $("#detailGrid").ligerGrid(option);

        if (DeliveryID) {
            LG.ajax({
                url: "/order/GetDeliveryById", data: { DeliveryID: DeliveryID }, success: function (data) {
                    LG.loadForm($("#mainform"), data[0]);
                }
            });
            LG.ajax({
                url: "/order/GetDeliveryDetail", data: { DeliveryID: DeliveryID }, success: function (data) {
                    detailGrid.loadData({ Rows: data });
                }
            });
        }
        else {
            LG.ajax({
                url: "/order/GetNewDeliveryId", success: function (data) {
                    LG.loadForm($("#mainform"), data);
                }
            });
        }

        //var tab = $("#tabcontainer").ligerTab();
    });

    function save(dialog) {
        if (detailGrid) {
            //保存订单明细 表格的JSON  后台(AjaxOrderManage.AddOrders或UpdateOrders)可接收
            $("#HDetailData").val(JSON2.stringify(detailGrid.getData()));
        }
        if (DeliveryID) {
            $("#mainform").attr("action", "/order/editDelivery");
        }
        else {
            $("#mainform").attr("action", "/order/addDelivery");
        }
        LG.submitForm($("#mainform"), function (data) {
            if (!data.IsError) {
                if (data.Message) {
                    $.ligerDialog.confirm("是否立即付款?", function (yes) {
                        if (yes) {
                            var d = { DeliveryID: data.Message, TotSum: totSum };
                            $.get("/config/Columns/AccountReceivableMaster", function (data) {
                                var c = LG.bulidData(data);
                                c.form.splice(0, 6);
                                c.form.unshift({ name: "TotSum", display: "应付", type: "label", labelWidth: 80 });
                                c.form.push({ name: "DeliveryID", type: "hidden" });

                                LG.showDialogForm({
                                    action: "/order/AddReceiveInDelivery",
                                    fields: c.form,
                                    data: d,
                                    success: function () { dialog.hidden(); }
                                });
                            });
                        }
                        else {
                            dialog.hidden();
                        }
                    });
                } else { dialog.hidden(); }
            }
            else { LG.showError(data.Message); }
        });
    }

    function amountRender(rowdata, rowindex, value, column) {
        var UnitPrice = rowdata.UnitPrice || 0;
        var Quantity = rowdata.Quantity || 0;
        var Weight = rowdata.Weight || 0;
        if (Weight == 0) {
            value = (UnitPrice * Quantity).toFixed(2);
        }
        else {
            value = (UnitPrice * Weight).toFixed(2);
        }
        rowdata.Amount = value;

        //处理无法更新汇总的错误
        var g = this, p = this.options;
        for (var i = 0; i < g.totalNumber; i++) {
            var tobj = document.getElementById(g.id + "|total" + i + "|" + column['__id']);
            $("div:first", tobj).html(g._getTotalCellContent(column, g.groups && g.groups[i] ? g.groups[i] : g.currentData[p.root]));
        }

        totSum = 0;
        for (var j = 0 ; j < g.currentData[p.root].length; j++) {
            var v = parseFloat(g.currentData[p.root][j]["Amount"]);
            if (!v) continue;
            totSum += v;
        }

        return "￥" + value;
    }


    function getToolbar() {
        var o = {
            text: '引入',
            img: '/content/icons/32X32/import.png'
        };
        o.click = function () {
            if ($("#DeliveryProperty").val() != 2) {
                LG.showSelect("/config/Columns/ProductStock", '/order/GetProductStock?type=1', selectProduct, true);
            }
            else {
                LG.showSelect("/config/Columns/ProductStock", '/order/GetProductStock?property=C&type=0', selectProduct, true);
            }
        };

        var itemDel = {
            text: '删除',
            img: '/content/icons/silkicons/delete.png'
        };
        itemDel.click = function () {
            if (detailGrid.getSelected()) {
                detailGrid.remove(detailGrid.getSelected());
            }
            else {
                LG.tip("请选择!");
            }

        };

        return { items: [o, itemDel] };

    }

    function selectProduct(checked) {
        $(checked).each(function () {
            if (productExist(this.ProductID, this.BatchNo)) return;

            // ligerGrid _addData bug fixed
            if (!detailGrid.currentData.Rows)
                detailGrid.currentData.Rows = [];

            detailGrid.addRow({
                ProductName: this.ProductName,
                ProductID: this.ProductID,
                BatchNo: this.BatchNo,
                UnitPrice: this.UnitPrice,
                Quantity: 1,
                Weight: 0,
                UnSent: 0,
                Amount: 0
            });
        });
    }

    function productExist(ProductID, BatchNo) {
        var rows = detailGrid.rows;
        for (var i = 0, l = rows.length; i < l; i++) {
            var o = rows[i];
            if (o.ProductID == ProductID && o.BatchNo == BatchNo) return true;
        }
        return false;
    }

</script>
