<md-content>
    <md-tabs>
        <md-tab ng-repeat="type in types" label="{{type.Name}}">
            <md-content>
                <md-list>
                    <md-subheader>test</md-subheader>
                    <md-list-item ng-repeat="p in partys">
                        <p ng-click="addParty()">test</p>
                        <md-checkbox ng-model="p.Name" class="md-secondary"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content><md-button class="md-fab md-fab-bottom-right" aria-label="Add {{type.Name}}" ng-click="addParty()">
    <i class="fa fa-2x fa-plus"></i>
</md-button>